<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delisimo - Finde dein neues Lieblingsrestaurant</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script type="text/javascript">
      DEV_ENV = <%= Mix.env == :dev %>
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="frontpage-navbar row">
        <a class="brand" href="/">Delisimo</a>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXTR2titi7TnK231AI2pEs1rPyLEbTzgg&libraries=places&sensor=false"></script>
    <!-- <script src="https://use.fontawesome.com/0d58750b45.js"></script> -->
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
