/* This file is for your main application css. */
html, body {
  font-family: 'Open Sans', sans-serif !important;

  background: #f7f7f7 !important;
}

.frontpage-navbar {
  background: #F38630;
  padding: 10px 5px;
}

.frontpage-navbar a {
  color: #fff !important;
  text-decoration: none;
  font-size: 24px;
}

.frontpage-cover {
  background: url("/images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 40px;
  height: 70vh;
}

.frontpage-cover h2 {
  background: rgba(0,0,0,0.75);
  line-height: 3.4rem;
  text-align: center;
  display: inline;
  color: white;
  font-size: 2rem;
  padding: 5px 10px;
}

.frontpage-cover p {
  text-align: center;
  line-height: 3.4rem;
  display: inline;
  color: white;
  font-size: 2rem;
  padding: 5px 10px;
  background: rgba(0,0,0,0.75);
}

.geosuggest-group p {
  font-size: 1.6em;
}

.geosuggest-text {
  margin-bottom: 20px;
}

.frontpage-lower {
  height: 50vh;
  background: #F38630;
}

#spinner-wrap {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}

.spinner {
  display: flex;
  margin: 0 auto;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
