.result-marker {
  border-radius: 8px;
  padding: 10px 50px 10px 20px !important;
  background-color: #232323 !important;
}

.result-marker img {
  height: 50px;
  width: 50px;
  float: left;
  background-color: #cfcfcf !important;
}

.result-marker .tooltip-text {
  float: left;
  position: relative;
  left: 20px;
}

.result-marker .tooltip-name {
  margin-top: -15px;
  text-align: left;
  font-size: 18px;
}

.result-marker .tooltip-distance {
  margin-top: -25px;
  text-align: left;
}

.result-marker-score {
  display: inline-block;
  font-family: Wingdings;
  font-size: 0.85em;
  color: #ccc;
  position: relative;
  top: -30px;
}
.result-marker-score::before,
.result-marker-score span::before{
  content: "\2605\2605\2605\2605\2605";
  display: block;
}
.result-marker-score span {
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: right;
}
