@media only screen and (max-device-width: 760px) {
  .frontpage-cover h2 {
    background: rgba(0,0,0,0.75) !important;
    line-height: 3.4rem;
    text-align: center;
    display: inline;
    color: white;
    font-size: 2rem;
    /*padding: 5px 10px;*/
  }
  .frontpage-cover p {
    text-align: center;
    display: inline;
    line-height: 3.4rem;
    color: white;
    font-size: 2rem;
    padding: 5px 10px;
    background: rgba(0,0,0,0.75);
  }
}
