
.results-bar {
  background: #fff;
  /*padding: 1rem 0px;*/
  margin-bottom: 40px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

a.back-item {
  text-decoration: none;
}

.results-bar-item, a.back-item {
  text-decoration: none;
  color: rgba(47, 25, 5, 1);
  -webkit-transition: color 200ms ease-in-out, background 200ms ease-in-out;
  transition: color 200ms ease-in-out, background 200ms ease-in-out;
  text-align: center;
}

.results-bar-item:hover {
  background: rgba(47, 25, 5, 1);
  color: #fff;
  cursor: pointer;
}

.map {
  height: 400px;
  width: 100%;
}

.card {
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px 10px;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  min-height: 140px;
  position: relative;
}

.card:hover {
  box-shadow: 0px 1px 8px rgba(0,0,0,0.5);
  cursor: pointer;
}

.card img {
  height: 120px;
  width: 120px;
  border-radius: 4px;
  background: #cecece;
  line-height: 120px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.card-block {
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-text {
  text-align: right;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #777;
}


/*http://stackoverflow.com/questions/30765441/use-font-awesome-star-rating-define-by-width*/
.score {
  display: inline-block;
  font-family: Wingdings;
  font-size: 1em;
  color: #ccc;
  position: relative;
  top: 10px;
}
.score::before,
.score span::before{
  content: "\2605\2605\2605\2605\2605";
  display: block;
}
.score span {
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
