<div class="frontpage-cover row">
  <div class="col-sm-12 col-md-12">
    <div class="col-sm-offset-2 col-lg-offset-3 col-lg-8 col-sm-8 cover-text">
      <h2>
        Finde passende Restaurants in deiner Umgebung
      </h2>
    </div>
    <div class="col-sm-4 col-md-6 col-lg-6 col-sm-offset-2 col-lg-offset-3 geosuggest-group">
      <div class="geosuggest-text">
        <p>
          Wo befindest du dich?
        </p>
      </div>
      <div id="geosuggest-input"></div>
    </div>
  </div>
</div>

<div class="frontpage-lower row"></div>
